<div class="footer-completo">
    <div class="footer-container">
      <div class="columna1">
        <img class="img-logo" src="/assets/img/logo.svg" width="100" height="100" />
        <p>Viajes, opiniones y reviews. Viaja donde quieras, viaja como quieras. </p>
      </div>
      <div class="columna2">
        <h2>Viajar</h2>
        <p><a href="/ciudad.html">Ciudad </a></p>
        <p><a href="/montaña.html">Montaña </a></p>
        <p><a href="/sobre-mi.html">Sobre mi </a></p>
      </div>
      <div class="columna3">
        <h2>Redes sociales</h2>
      <div class="iconos">
        <a href="https://discord.gg/cQceVwHpPv"><img src="/assets/img/icono-discord.svg" alt="Icono discord" /></a>
      </div>
      <div class="iconos">
        <a href="https://www.instagram.com/renew.bat/"><img src="/assets/img/icono-instagram.svg" alt="Icono Instagram"/></a>
      </div>
      <div class="iconos">
        <a href="https://www.linkedin.com/in/jorge-renedo/"><img src="/assets/img/icono-linkedin.svg" alt="Icono Linkedin"/></a>
       </div>
      </div>
</div>
  
  <div class="footer-inferior">
    <div class="footer">
        <div class="copyright">
          © 2024 Jorge Renedo. Todos los derechos reservados
        </div>
    </div> 
  </div>

</div>