<div class="header">
  <div class="header__logo">
    <a href="/index.html" title="Home">
    <img src="/assets/img/logo.svg" alt="Logo">
  </a>
  </div>
  <nav>
    <ul class="header__navegacion">
      <li><a href="/ciudad.html">Ciudad</a></li>
      <li><a href="/montaña.html">Montaña</a></li>
      <li><a href="/sobre-mi.html">Sobre mí</a></li>
    </ul>
  </nav>
  <a class="menu_oculto" href="https://www.instagram.com/renew.bat/"><button>Instagram</button></a>

  <a onclick="abrirmenu()" class="header__menu" href="#"><button>Menu</button></a>

  <div id="menu_movil" class="header__moviles">
    <a onclick="cerrarmenu()" href="#" class="header__moviles__cerrar">&times;</a>
    <div class="header__moviles__contenido">
      <a href="/ciudad.html">Ciudad</a>
      <a href="/montaña.html">Montaña</a>
      <a href="/sobre-mi.html">Sobre mí</a>
    </div>
  </div>

</div>